html, body{
	height: 100%;
	max-width: 100%;
}

.btn-outline-light:hover {
	color: black;
}

.btn-outline-dark:hover {
	background-color: black;
}

.capa {
	position: relative;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.capa .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.50;
	filter: alpha(opacity=90);
}

.capa .container{
	margin: 0 auto;
	text-align: center;
	z-index: 2;
}

#inicio {
	background: url("../img/main-cover.jpg") center center no-repeat;
	background-size: cover;
}

#inicio img{
	
	height: 6rem;
}

#eventos {
	background: url("../img/root-rsi-cover.jpg") center center no-repeat;
	background-size: cover;
}

#eventos .btn-outline-light:hover{
	background-color: transparent;
	color: white;
}

#sobre, #servicos, #membros{
	padding: 6rem 0 6rem 0;
	text-align: center;
}

#sobre img{
	margin-top: 4em;
	margin-bottom: 4em;
	height: 10em;
}

#servicos img{
	margin: 5em 0 2em 0;
	height: 6em;
}

#contato {
	padding: 4rem 0 2rem 0;
	text-align: center;
}

#contato a{
	color: black;
}

#footer {
	color: white;
	text-align: center;
	background-color: #333;
	padding: 2em 0 1em 0;
}

@media (max-width: 576px){
	.display-1, .display-3{
		font-size: 3em;
	}
}

